#root {
  max-width: 1280px;
  margin: 0 auto;
  text-align: center;
}

body {
  background-image: url("./assets/imgs/background.svg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  min-height: 100vh;
  height: 100%;
  margin: 0;
  transition: 0.5s ease;
}

.app-title {
  color: rgb(91, 51, 12);
  padding: 20px 0 40px;
  font-size: 2.5rem;
}

.info-icon {
  cursor: pointer;
  position: fixed;
  top: 0;
  right: 0;
  padding: 20px;
}

.wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  row-gap: 8vh;
  margin-bottom: 12vh;
}

.wrapper > div {
  flex: 0 1 calc(33.33% - 20px);
  max-width: calc(33.33% - 20px);
}

.wrapper > :nth-child(4),
.wrapper > :nth-child(5) {
  flex: 0 1 calc(50% - 20px);
  max-width: calc(50% - 20px);
}

@media (max-width: 650px) {
  .wrapper > div {
    flex: 0 1 100%;
    max-width: 100%;
  }

  .wrapper > :nth-child(4),
  .wrapper > :nth-child(5) {
    flex: 0 1 100%;
    max-width: 100%;
  }

  .app-title {
    font-size: 1.5rem;
  }
}

